<!-- detail it3 -->
<div #it3 class="container p-3 " style="min-height: 591px;">
    <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
        <div class="row">

            <div class="col-md-2 col-sm-2 col-xs-2 pic-company">
                <div class="pic-detail-company">
                    <img src="https://www.jobbkk.com/upload/employer/07/717/008717/images/345831.jpg"
                        alt="บริษัท แม็คเอ็ดดูเคชั่น จำกัด" title="บริษัท แม็คเอ็ดดูเคชั่น จำกัด">
                </div>
            </div>

            <input type="hidden" id="jobpost_id_company" value="366394">

            <div class="col-md-10 col-sm-10 col-xs-10 text-company">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12 job-name-company">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h5>บริษัท แม็คเอ็ดดูเคชั่น จำกัด</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- รายละเอียด -->
    <div class="container ">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="col-md-8 col-sm-8 col-xs-6">
                    <h5 class="margin-bottom text-red"><i class="fa fa-briefcase" aria-hidden="true"></i>
                        ผู้จัดการแผนกพัฒนาระบบและเทคโนโลยีสารสนเทศ </h5>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">รายละเอียดงาน</h6>
                    <h6><b>รูปแบบงาน : </b>งานประจำ</h6>
                    <h6><b>จำนวนที่รับ : </b>1 ตำแหน่ง</h6>
                    <h6><b>สถานที่ปฏิบัติงาน : </b>กรุงเทพมหานคร(เขตลาดพร้าว)</h6>
                    <h6><b>เงินเดือน(บาท) : </b>ตามตกลง</h6>
                    <h6><b>วันหยุด : </b><span>วันเสาร์</span>, <span>วันอาทิตย์</span></h6>
                    <h6><b>เวลาทำงาน : </b>08:30 - 17:30</h6>
                    <h6><b>เวลาทำงานอื่น : </b>ไม่ระบุ</h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">หน้าที่ความรับผิดชอบ</h6>
                    <h6>- ร่วมกำหนดทิศทาง แผนงาน และนโยบายต่าง ๆ
                        เพื่อนำมาใช้ในการบริหารงานของหน่วยงานการพัฒนาระบบและเทคโนโลยีสารสนเทศ
                        <br>-
                        วางแผนงานและการดำเนินงานทั้งระยะสั้นและระยะยาวเพื่อให้สามารถบรรลุตามวัตถุประสงค์ของหน่วยงาน
                        <br>- ปรับปรุงและพัฒนาทีมงานรวมถึงประสิทธิภาพในการทำงานของทีม
                        <br>- บริหารทีมงาน ผู้ใต้บังคับบัญชา เพื่อให้การทำงานมีประสิทธิภาพ
                        <br>- ติดตามและประเมินผลการดำเนินงานของหน่วยงาน ผลงานของทีมงาน เพื่อจัดทำสรุปและวิเคราะห์
                        รวมถึงการปรับปรุงและพัฒนา
                        <br>- จัดทำรายงานสรุปผลการดำเนินงานต่าง ๆ ของหน่วยงานตามที่ได้รับผิดชอบ
                        <br>- บริหารการจัดการด้านการสนับสนุนและการแก้ไขปัญหาเกี่ยวกับการใช้งานระบบเทคโนโลยีสารสนเทศต่าง
                        ๆ ภายในบริษัทฯ
                        <br>- งานอื่น ๆที่ได้รับมอบหมาย หรืองานส่วนรวมที่เกี่ยวข้องกับภาพรวมของบริษัทฯ
                        <br>- วันทำงาน จันทร์ - ศุกร์ 08.30 - 17.30 น.
                    </h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">คุณสมบัติ</h6>
                    <h6><b>เพศ : </b>ชาย , หญิง</h6>
                    <h6><b>อายุ(ปี) : </b>35 ปีขึ้นไป</h6>
                    <h6><b>ระดับการศึกษา : </b>ปริญญาตรี - ปริญญาโท</h6>
                    <h6><b>ประสบการณ์(ปี) : </b>5 - 5 ปีขึ้นไป</h6>
                    <h6><b> อื่นๆ : </b>ไม่ระบุ</h6>
                    <h6 class="text-red margin-top margin-bottom-1">คุณสมบัติเพิ่มเติม</h6>
                    <h6>.</h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">สวัสดิการ</h6>
                    <h6>
                        <li>ประกันสังคม</li>
                        <li>ทำงานสัปดาห์ละ 5 วัน</li>
                        <li>มีเวลาการทำงานที่ยืดหยุ่น</li>
                        <li>ค่าทำงานล่วงเวลา</li>
                        <li>เงินโบนัสตามผลงาน</li>
                        <li>ตามข้อตกลงของบริษัท</li>
                    </h6>
                    <h6 class="text-red margin-top margin-bottom-1">สวัสดิการอื่นๆ</h6>
                    <h6>- ประกันสังคม<br>- เงินช่วยเหลือในโอกาสต่างๆ <br>- การปรับขึ้นเงินเดือน<br>- การฝึกอบรม</h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">สนใจสมัครงานตำแหน่งงานนี้กรุณาติดต่อ</h6>
                    <h6>ชื่อผู้ติดต่อ : ฝ่ายบุคคล</h6>
                    <h6>เบอร์ผู้ติดต่อ : 0818292372</h6>
                    <h6>อีเมล : hr-recruit@MACeducation.com</h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">วิธีการรับสมัครงาน</h6>
                    <h6><b>รับสมัครงานผ่านทาง K JOB.RS</b>
                        <li style="margin-left: 20px">hr-recruit@MACeducation.com</li>
                    </h6>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom data-adress">
                    <ul>
                        <li>
                            <h5 class="text-red"><i class="fa fa-address-card" aria-hidden="true"></i>
                                ข้อมูลติดต่อ</h5>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-12 contact-address">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                                    <h6><b>ฝ่ายบุคคลและสำนักงาน</b></h6>
                                    <h6>บริษัท แม็คเอ็ดดูเคชั่น จำกัด</h6>
                                    <h6>9/99 ซอยลาดพร้าว 38 ถนนลาดพร้าว แขวงจันทรเกษม เขตจตุจักร แขวงจันทรเกษม
                                        เขตจตุจักร จังหวัดกรุงเทพมหานคร 10900 ประเทศไทย </h6>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 contact-company">
                                    <ul class="ul-contact">
                                        <li class="li-contact contact-width">
                                            <img
                                                src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-2.png">
                                            โทร. : 0-2512-0661 ต่อ 5213
                                        </li>
                                        <li class="li-contact">
                                            <img
                                                src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-9.png">
                                            <a href="mailto:hr-recruit@MACeducation.com">hr-recruit@MACeducation.com</a>
                                        </li>



                                        <li class="li-contact contact-width">
                                            <a href="http://www.MACeducation.com" target="_blank">
                                                <img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-1.png">
                                                http://www.MACeducation.com </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>