<!-- slide -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/image/11.png" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="assets/image/12.png" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="assets/image/14.png" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container p-4 " style="min-height: 591px;">

    <!-- banner งานทั่วไทยไปทุกภาค -->
    <h4 class="headContent text-start">JOBTHAILAND</h4><br>
    <ul class="jobsAroundThailandGrid">
        <li>
            <a href="home/jobbangkok"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/bangkok.jpg">
                <figcaption class="nameRegion">
                    <p>งานกรุงเทพฯ</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="home/jobcentral"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionCentral.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคกลาง</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="home/jobeastern"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionEast.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคตะวันออก</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="home/jobnortheastern"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionEastNorth.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคอีสาน</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="home/jobsouth"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionSouth.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคใต้</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="home/jobnorth"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionNorth.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคเหนือ</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="home/jobwestern"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionWest.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคตะวันตก</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="#" target="_blank"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionAll.jpg">
                <figcaption class="nameRegion">
                    <p>รวมงานทุกภาค</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
    </ul> <br>
    <!-- end banner งานทั่วไทยไปทุกภาค -->

    <div class="row p-0">
        <app-job-department></app-job-department>
    </div>

    <!-- BEST COMPANY -->
    <div class="row p-0">
        <app-home-bestcompany></app-home-bestcompany>
    </div>
    <i class="bi bi-person-fill" style="font-size: 1rem; color: rgb(0, 0, 0);"></i>
</div>