.jobsAroundThailandGrid{ display: grid; grid-template-columns: repeat(4, 1fr); list-style: none; margin: 0; padding: 0; grid-gap: 15px;}
.jobsAroundThailandGrid li a{ display: flex; align-items: center; justify-content: center; flex-direction: column; text-decoration: none;}
.jobsAroundThailandGrid li a:hover{ transform: scale(1.03);}

.nameRegion{ background: #ebebeb; border: 1px solid #bfbfbf; padding: 10px; border-radius: 0 0 10px 10px; display: flex; align-items: center; justify-content: space-between; width: 100%; text-align: center;}
.nameRegion p:first-child{ font-size: larger; color: black;}
.nameRegion p:last-child{ background:crimson; color: rgb(255, 255, 255); border-radius: 4px; padding: 5px; transition: ease-in 0.5s; font-size: var(--font14);}
.jobsAroundThailandGrid li a:hover .nameRegion p:last-child{ background: black,red;}
img {
    max-width: 100%;
    width: auto;
    outline: none;
}


/* hot career */
.bgHotCareer{ background: #ebebeb; padding: 15px;}
.hotCareer{ margin-bottom: 40pt;}
.hotCareerBottom{ margin-bottom: 20pt;}
.hotCareerGrid{ display: grid; grid-template-columns: repeat(25, 12.5%); list-style: none; margin: 0; padding: 0; grid-gap: 15px; overflow-x: scroll; padding: 10px 0; margin-bottom: 10pt;}
.hotCareerGrid li a{ display: flex; align-items: center; justify-content: center; text-decoration: none;}
.hotCareerGrid li a:hover{ transform: scale(1.03);}
.hotCareerGrid li img{ margin-bottom: 5pt; width: auto;}
.hotCareerGrid div{ display: flex; align-items: center; flex-direction: column; justify-content: center;}
.hotCareerGrid div p{ color: rgb(92, 91, 91); text-align: center;}
.hotCareerGrid div p.positionWork{ color: red; font-size: 12pt;}
.hotCareerCut{ height: 60px;}

.hotCareerGrid::-webkit-scrollbar{ height: 10px; background: #fff; border-radius: 10px;}
.hotCareerGrid::-webkit-scrollbar-track{ box-shadow: inset 0 0 5px #ebebeb; border-radius: 10px;}
.hotCareerGrid::-webkit-scrollbar-thumb{ background: #bfbfbf; border-radius: 10px;}
.hotCareerGrid::-webkit-scrollbar-thumb:hover{ background: #333;}

.controlScroll{ display: flex; justify-content: center;}
.controlScroll button{ margin: 0 15px;}
#buttonScrollLeft, #buttonScrollRight{ background: red; color: white; border: 1px solid black red; border-radius: 4px; padding: 5px 15px;}
.controlScroll #buttonScrollLeft:hover, .controlScroll #buttonScrollRight:hover{ background: black red;}

/**/
.bestCompany{ display: flex; align-items: center; justify-content: center; text-decoration: none;}
.bestCompany li a:hover{ transform: scale(1.03);}
.hotCareerCut{ height: 60px;}

.jobsGrid{ display: grid;list-style: none;grid-gap: 5px;}
.jobsGrid li a{ display: flex; align-items: center;flex-direction: column; text-decoration: none;}
.jobsGrid li a:hover{ transform: scale(1.03);}
.jobsStyle {
    width: 150px;
    height: 150px;
    border: 1;
    border-radius: 10px;
}

.readMore a {
    display: inline-block;
    text-decoration: none;
    background: red;
    color: white;
    border-radius: 4px;
    padding: 8px;
    font-size: var(--font14);
}