  <!-- slide -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.15752-9/263433611_2365257830270745_1234155413010583498_n.png?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeGq18LVTWwdRVyEHbvPosymIPdi09mf63kg92LT2Z_reSxlca-QrFEyS-vPDEQHm1OV5s6NHu_K-Z4N-xBUhZFX&_nc_ohc=9wXqgqU2p9cAX8srDSV&_nc_ht=scontent.fbkk14-1.fna&oh=e25da4b060ac42ccb5ed2a15ad9f9334&oe=61D4F686"
          class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://scontent.fbkk22-6.fna.fbcdn.net/v/t1.15752-9/263534942_1247033762445466_7653980145876241295_n.png?_nc_cat=102&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHr5tEji6WDuPmR6iChrSwEGT4YZVp4X_sZPhhlWnhf-9j4zKGNb3Q_RJFOgRosq2J85tyPe5KzWyM9BNg5DWOM&_nc_ohc=Pzrz_y4btdEAX81OT02&_nc_ht=scontent.fbkk22-6.fna&oh=08e3232141e9d2ac4e37ea12d80970e7&oe=61DAB0F4"
          class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.15752-9/263344641_945179426099318_1135999998181891718_n.png?_nc_cat=108&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeGuDiY_T-A3YDRzm6oKor57Hj9iK26pUxMeP2IrbqlTE0qAGyzB40X249HC6nBHhrPDXMjiKjZu4OrV5_OhztGi&_nc_ohc=61sLERyswLkAX_sMMcz&_nc_ht=scontent.fbkk10-1.fna&oh=27c40b47f5e26bcb6b9577b436c5bd17&oe=61D64534"
          class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="container p-4 " style="min-height: 591px;">

    <!-- banner งานทั่วไทยไปทุกภาค -->
    <h4 class="headContent text-start">JOBTHAILAND</h4><br>
    <ul class="jobsAroundThailandGrid">
        <li>
            <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,กรุงเทพมหานคร,ทั้งหมด.html?province_id=246"
                target="_blank"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/bangkok.jpg">
                <figcaption class="nameRegion">
                    <p>งานกรุงเทพฯ</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="https://www.jobbkk.com/regional/jobregion/central" target="_blank"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionCentral.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคกลาง</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="https://www.jobbkk.com/regional/jobregion/eastern" target="_blank"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionEast.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคตะวันออก</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="https://www.jobbkk.com/regional/jobregion/northeastern" target="_blank"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionEastNorth.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคอีสาน</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="https://www.jobbkk.com/regional/jobregion/southern" target="_blank"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionSouth.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคใต้</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="https://www.jobbkk.com/regional/jobregion/northern" target="_blank"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionNorth.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคเหนือ</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="https://www.jobbkk.com/regional/jobregion/western" target="_blank"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionWest.jpg">
                <figcaption class="nameRegion">
                    <p>งานภาคตะวันตก</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
        <li>
            <a href="https://www.jobbkk.com/regional" target="_blank"><img
                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/regionAll.jpg">
                <figcaption class="nameRegion">
                    <p>รวมงานทุกภาค</p>
                    <p>อ่านต่อ</p>
                </figcaption>
            </a>
        </li>
    </ul> <br>
    <!-- end banner งานทั่วไทยไปทุกภาค -->

    <div class="row p-0">
        <app-job-department></app-job-department>
    </div>

    <!-- BEST COMPANY -->
    <div class="row p-0">
        <app-home-bestcompany></app-home-bestcompany>
    </div>
    <i class="bi bi-person-fill" style="font-size: 1rem; color: rgb(0, 0, 0);"></i>
</div>