<!-- detail it1 -->
<div #it1 class="container p-3 " style="min-height: 591px;">
    <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
        <div class="row">

            <div class="col-md-2 col-sm-2 col-xs-2 pic-company">
                <div class="pic-detail-company">
                    <img src="https://www.jobbkk.com/upload/employer/0F/A6F/001A6F/images/6767.jpg"
                        alt="SIAM NETWORK &amp; COMPUTER CO., LTD" title="SIAM NETWORK &amp; COMPUTER CO., LTD">
                </div>
            </div>

            <input type="hidden" id="jobpost_id_company" value="366394">

            <div class="col-md-10 col-sm-10 col-xs-10 text-company">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12 job-name-company">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h5>SIAM NETWORK &amp; COMPUTER CO., LTD</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- รายละเอียด -->
    <div class="container ">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="col-md-8 col-sm-8 col-xs-6">
                    <h5 class="margin-bottom text-red"><i class="fa fa-briefcase" aria-hidden="true"></i> System
                        Engineer </h5>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">รายละเอียดงาน</h6>
                    <h6><b>รูปแบบงาน : </b>งานประจำ</h6>
                    <h6><b>จำนวนที่รับ : </b>1 ตำแหน่ง</h6>
                    <h6><b>สถานที่ปฏิบัติงาน : </b>นนทบุรี(ปากเกร็ด)</h6>
                    <h6><b>เงินเดือน(บาท) : </b>15,000 - 25,000</h6>
                    <h6><b>วันหยุด : </b><span>วันเสาร์</span>, <span>วันอาทิตย์</span></h6>
                    <h6><b>เวลาทำงาน : </b>08:30 - 17:30</h6>
                    <h6><b>เวลาทำงานอื่น : </b>ไม่ระบุ</h6>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">หน้าที่ความรับผิดชอบ</h6>
                    <h6>- วางแผนและทำงานให้เป็นไปตามเป้าหมายที่วางไว้ <br>- ทำให้ลูกค้าพึงพอใจในงานบริการ <br>-
                        ออกแบบระบบ นำเสนอ ติดตั้ง และให้คำปรึกษากับลูกค้า<br>-
                        รับผิดชอบดูแลแก้ไขปัญหางานด้านเทคนิคทั้งหมดตามกำหนดเวลา<br>- ฝึกอบรมทางเทคนิคให้กับลูกค้า<br>-
                        ดูแลรับผิดชอบผลิตภัณฑ์ Test , R&amp;D ตัวใหม่ๆ<br>- ดำเนินการเรื่องการไป Demo
                        สินค้ากับพนักงานขายให้กับลูกค้า<br>- ตรวจสอบและ Claim สินค้าตามกำหนดเวลา<br>- ทำรายงานส่ง KPI
                        &amp; Report ประจำสัปดาห์ ประจำเดือน<br>- ปฏิบัติงานตามที่ได้รับมอบหมายจากผู้บังคับบัญชา</h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">คุณสมบัติ</h6>
                    <h6><b>เพศ : </b>ชาย , หญิง</h6>
                    <h6><b>อายุ(ปี) : </b>25 - 36</h6>
                    <h6><b>ระดับการศึกษา : </b>ปริญญาตรี - ปริญญาโท</h6>
                    <h6><b>ประสบการณ์(ปี) : </b>2 - 5 ปีขึ้นไป</h6>
                    <h6><b> อื่นๆ : </b>ไม่ระบุ</h6>
                    <h6 class="text-red margin-top margin-bottom-1">คุณสมบัติเพิ่มเติม</h6>
                    <h6>• ปริญญาตรีด้านวิทยาการคอมพิวเตอร์ วิศวกรรม หรือสาขาอื่นๆที่เกี่ยวข้อง<br>• มีประสบการณ์ด้าน
                        System Engineer อย่างน้อย 2 ปี<br>•
                        สามารถสื่อสารเป็นภาษาอังกฤษได้ดีหรือหากได้ภาษจีนด้วยจะพิจารณาเป็นพิเศษ<br>•
                        มีประสบการณ์ด้านการตืดตั้ง Windows Server <br>• มีความมุ่งมั่นในการทำงานให้ประสบความสำเร็จ<br>•
                        มีความอยากเรียนรู้ เติบโตและพัฒนาตนเองตลอดเวลา <br>• มีทัศนคติที่ดี มีความกระตือรือร้น
                        และรักงานด้านการให้บริการ<br>• มีทักษะในการสื่อสารที่มีประสิทธิภาพทั้งการนำเสนอและการเขียน <br>•
                        สามารถทำงานเป็นทีมได้ดี<br>• มีความสามารถด้านภาษาอังกฤษสามารถเข้าใจ Manual
                        หรือค้นคว้าข้อมูลที่เป็นภาษาอังกฤษได้<br>• มีรถยนต์เป็นของตนเองและมีใบอนุญาตขับขี่
                        จะได้รับการพิจารณาเป็นพิเศษ<br></h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">สวัสดิการ</h6>
                    <h6>
                        <li>ประกันสังคม</li>
                        <li>ทำงานสัปดาห์ละ 5 วัน</li>
                        <li>มีเวลาการทำงานที่ยืดหยุ่น</li>
                        <li>ค่าทำงานล่วงเวลา</li>
                        <li>เงินโบนัสตามผลงาน</li>
                        <li>ตามข้อตกลงของบริษัท</li>
                    </h6>
                    <h6 class="text-red margin-top margin-bottom-1">สวัสดิการอื่นๆ</h6>
                    <h6>Team Incentive<br>ฝึกอบรม</h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">สนใจสมัครงานตำแหน่งงานนี้กรุณาติดต่อ</h6>
                    <h6>ชื่อผู้ติดต่อ : วิชัย</h6>
                    <h6>เบอร์ผู้ติดต่อ : 029621233</h6>
                    <h6>อีเมล : hr@snc.co.th</h6>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">วิธีการรับสมัครงาน</h6>
                    <h6><b>รับสมัครงานผ่านทาง K JOB.RS</b>
                        <li style="margin-left: 20px">hr@snc.co.th</li>
                    </h6>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom data-adress">
                    <ul>
                        <li>
                            <h5 class="text-red"><i class="fa fa-address-card" aria-hidden="true"></i>
                                ข้อมูลติดต่อ</h5>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-12 contact-address">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                                    <h6><b>K. Wichai</b></h6>
                                    <h6>SIAM NETWORK &amp; COMPUTER CO., LTD</h6>
                                    <h6>99/29 อาคารซอฟต์แวร์ปาร์ค ชั้น11 ตำบลคลองเกลือ อำเภอปากเกร็ด จังหวัดนนทบุรี
                                        11120 ประเทศไทย </h6>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 contact-company">
                                    <ul class="ul-contact">
                                        <li class="li-contact contact-width">
                                            <img
                                                src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-2.png">
                                            โทร. : 02-962-1233
                                        </li>
                                        <li class="li-contact contact-width">
                                            <img
                                                src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-3.png">
                                            แฟกซ์. 02-962-1300
                                        </li>
                                        <li class="li-contact">
                                            <img
                                                src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-9.png">
                                            <a href="mailto:hr@snc.co.th">hr@snc.co.th</a>
                                        </li>



                                        <li class="li-contact contact-width">
                                            <a href="http://www.snc.co.th" target="_blank">
                                                <img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-1.png">
                                                http://www.snc.co.th </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

