<!-- <div *ngIf="userType === 'home'"></div> -->

<!-- before-homepage : http://localhost:4200/ -->
<div *ngIf="closeBefore" style="min-height: 591px;">
  <!-- narbar-home-1 -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-light">
    <div class="container-fluid" style="padding-top: 8px; padding-bottom: 8px;">
      <div class="collapse navbar-collapse" id="mynavbar">
        <div class="navbar-nav me-auto">
          <a href="#">
            <img src="assets/image/15.png" style="width: 150px;">
          </a>
          <div class="intro-text px-3">
            <h6 class="text-red">ยินดีต้อนรับเข้าสู่เว็บไซต์ หางาน สมัครงาน ยอดนิยมอันดับ 1 ของประเทศไทย</h6>
            <h6 class="text-blue">ตำแหน่งงานอัพเดท มีคุณภาพกว่า 200,000 อัตรา มากกว่า 50,000 ตำแหน่ง
              จากบริษัทชั้นนำมากที่สุดในประเทศไทย</h6>
          </div>
        </div>

        <div class="register-flag navbar-nav px-3">
          <ul>
            <a><button type="button" class="badge btn btn-outline-warning" style="color: rgb(87, 87, 87);"
                onclick="window.location.href='https://www.jobbkk.com/global/language/change_lang/th/https%3A%2F%2Fwww.jobbkk.com%2Fhome';">TH</button></a>
            <a><button type="button" class="badge btn btn-outline-warning" style="color: rgb(87, 87, 87);"
                onclick="window.location.href='https://www.jobbkk.com/global/language/change_lang/en/https%3A%2F%2Fwww.jobbkk.com%2Fhome';">EN</button></a>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- narbar-home-2 -->
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="bot-text">
      <ul>
        <li><a href="https://www.jobbkk.com/หางาน">หางาน</a></li>
        <li><a href="https://www.jobbkk.com/หางาน">สมัครงาน</a>
        <li><a href="https://www.jobbkk.com/jobs/lists/1/หางาน,part%20time,ทุกจังหวัด,ทั้งหมด.html?keyword_type=1">หางาน
            part time</a></li>
        <li><a href="https://www.jobbkk.com/variety/govermentjobs">หางานราชการ</a></li>
        <li><a
            href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,เชียงใหม่,ทั้งหมด.html?province_id=259&amp;keyword_type=1">หางานเชียงใหม่</a>
        </li>
        <li><a
            href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ขอนแก่น,ทั้งหมด.html?province_id=251&amp;keyword_type=1">หางานขอนแก่น</a>
        </li>
        <li><a
            href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ภูเก็ต,ทั้งหมด.html?province_id=286&amp;keyword_type=1">หางานภูเก็ต</a>
        </li>
        <li><a
            href="https://www.jobbkk.com/jobs/lists/1/หางาน,การเงิน-การธนาคาร,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupation_id=235&amp;keyword_type=1">หางานธนาคาร</a>
        </li>
        <li><a
            href="https://www.jobbkk.com/jobs/lists/1/หางาน,การโรงแรม-ท่องเที่ยว-จองตั๋ว,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupation_id=240&amp;keyword_type=1">หางานโรงแรม</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- slide -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/image/11.png" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/image/12.png" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/image/14.png" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- main -->
  <div class="body-main text-center p-5">
    <button class="btn btn-outline-warning" type="button" (click)="gotoWebsite()"
      routerLink="home">เข้าสู่เว็บไซต์</button>
  </div>

  <!-- footer -->
  <div>
    <img class="d-block w-100" src="assets/image/foot.jpg">
  </div>
</div>

<!-- ================================================================================================= -->
<!-- after-homepage : http://localhost:4200/home -->
<div *ngIf="HomePage">
  <!-- narbar-home-1 -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-light">
    <div class="container-fluid" style="padding-top: 5px; padding-bottom: 5px;">
      <div class="collapse navbar-collapse" id="mynavbar">
        <div class="navbar-nav me-auto">
          <a (click)="resetPage()">
            <img src="assets/image/111.jpg" style="width: 150px;">
          </a>
        </div>
        <div class="register-flag navbar-nav px-3">
          <ul>
            <a><button type="button" class="badge btn btn-outline-warning" style="color: rgb(87, 87, 87);"
                onclick="window.location.href='https://www.jobbkk.com/global/language/change_lang/th/https%3A%2F%2Fwww.jobbkk.com%2Fhome';">TH</button></a>
            <a><button type="button" class="badge btn btn-outline-warning" style="color: rgb(87, 87, 87);"
                onclick="window.location.href='https://www.jobbkk.com/global/language/change_lang/en/https%3A%2F%2Fwww.jobbkk.com%2Fhome';">EN</button></a>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- narbar-home-2 -->
  <nav class="navbar navbar-expand-lg navbar-dark font-weight-bold " style="background-color: #f57a16;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="color: white;" routerLink="home">หน้าหลัก</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" routerLink="home/article">บทความ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" routerLink="../home/hr">HR SAY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" routerLink="home/jobrecom">JOB Recommendation</a>
          </li>
        </ul>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap ">
            <a type="button" class="nav-link" style="color: white;" data-bs-toggle="modal"
              data-bs-target="#exampleModal1">เข้าสู่ระบบ</a>
          </li>
          <li class="nav-item text-nowrap ">
            <a type="button" class="nav-link" style="color: white;" data-bs-toggle="modal"
              data-bs-target="#exampleModal">ลงทะเบียน</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <!-- Modal login-->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title" id="exampleModalLabel">เข้าสู่ระบบ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div><br>
        <div class="row jobbkk-line">
          <div class="jobbkk-enter">
            <p class="enter-name ">เข้าสู่ระบบด้วยชื่อผู้ใช้งาน และรหัสผ่าน</p>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="jobbkk">
                <div class="form-group has-primary has-feedback">
                  <input type="text" class="form-login " aria-describedby="text" placeholder="username"
                    name="username_res" id="username_res"
                    onkeydown="if(event.keyCode == 13){ $('#password_res').focus(); }">
                  <span class="fa fa-user form-login-feedback" aria-hidden="true"></span>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="jobbkk">
                <div class="form-group has-primary has-feedback">
                  <input type="password" class="form-login" aria-describedby="text" placeholder="password"
                    name="password_res" id="password_res"
                    onkeydown="if(event.keyCode == 13){ $('#form_res').submit(); return false; }">
                  <span class="fa fa-lock form-login-feedback" aria-hidden="true"></span>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>

          <div class="text-center">
            <button class="enter-register" type="submit">เข้าสู่ระบบ</button>
          </div>
          <div class="text-center">
            <ul class="checkbox-forget">
              <li><input type="checkbox" name="remember_me" id="remember_em" value="1"><span class="">
                  เข้าสู่ระบบอัตโนมัติ</span></li>
              <li><a class="nav-link" href="https://www.jobbkk.com/register/forgot/password/resume">ลืมรหัสผ่าน</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal สมัครสมาชิก-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header ">
          <h5 class="modal-title" id="exampleModalLabel">สมัครสมาชิก</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form_regis" name="form_regis" method="post" novalidate="novalidate">
            <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 theme-register">
                  <span>ชื่อผู้ใช้งาน :</span>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12 tooltip-div">
                  <input type="text" id="user_reg" name="username" value="" class="form-control control-register"
                    onkeypress="return keypress_username(event);" data-toggle="tooltip" data-placement="right"
                    data-original-title="Username ใช้ได้เฉพาะตัวอักษร (a-z,A-Z,0-9) และเครื่องหมาย (._) เท่านั้น"
                    placeholder="ชื่อผู้ใช้งาน">
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 theme-register">
                  <span>รหัสผ่าน :</span>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12 tooltip-div">
                  <input type="password" id="pass" name="pass" onkeypress="return keypress_username(event);"
                    data-toggle="tooltip" data-placement="right"
                    data-original-title="Password ใช้ได้เฉพาะตัวอักษร (a-z,A-Z,0-9) และเครื่องหมาย (._) เท่านั้น"
                    class="form-control control-register" placeholder="รหัสผ่าน">
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 theme-register">
                  <span>ยืนยันรหัสผ่าน :</span>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12 tooltip-div">
                  <input type="password" id="re_password" name="re_password"
                    onkeypress="return keypress_username(event);" data-toggle="tooltip" data-placement="right"
                    class="form-control control-register"
                    data-original-title="Password ใช้ได้เฉพาะตัวอักษร (a-z,A-Z,0-9) และเครื่องหมาย (._) เท่านั้น"
                    placeholder="ยืนยันรหัสผ่าน">
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 theme-register">
                  <span>อีเมล :</span>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">
                  <input type="email" id="email" name="email" onkeypress="return charEmail(event);" value=""
                    data-provide="typeahead" class="form-control control-register" placeholder="อีเมล">
                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 theme-register">
                  <span>ยืนยันอีเมล :</span>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-12">
                  <input type="email" id="re_email" name="re_email" onkeypress="return charEmail(event);"
                    autocomplete="off" data-provide="typeahead" class="form-control control-register"
                    placeholder="ยืนยันอีเมล">
                </div>
              </div>
            </div>
            <div style="text-align: center;">
              <button type="button" class="enter-register">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- main -->
  <div class="body-main p-0">
    <router-outlet></router-outlet>
  </div>

  <!-- footer -->
  <div>
    <img class="d-block w-100" src="assets/image/foot.jpg">
  </div>
</div>