<!-- detail it2 -->
<div #it1 class="container p-3 " style="min-height: 591px;">
    <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
        <div class="row">

            <div class="col-md-2 col-sm-2 col-xs-2 pic-company">
                <div class="pic-detail-company">
                    <img src="https://www.jobbkk.com/upload/employer/0B/4FB/0074FB/images/299471.jpg"
                        alt="Laconic Technology Co. Ltd." title="Laconic Technology Co. Ltd.">
                </div>
            </div>

            <input type="hidden" id="jobpost_id_company" value="366394">

            <div class="col-md-10 col-sm-10 col-xs-10 text-company">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12 job-name-company">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h5>Laconic Technology Co. Ltd.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- รายละเอียด -->
    <div class="container ">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="col-md-8 col-sm-8 col-xs-6">
                    <h5 class="margin-bottom text-red"><i class="fa fa-briefcase" aria-hidden="true"></i> Java
                        Programmer </h5>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">รายละเอียดงาน</h6>
                    <h6><b>รูปแบบงาน : </b>งานประจำ</h6>
                    <h6><b>จำนวนที่รับ : </b>ไม่ระบุ</h6>
                    <h6><b>สถานที่ปฏิบัติงาน : </b>กรุงเทพมหานคร(เขตคลองเตย)</h6>
                    <h6><b>เงินเดือน(บาท) : </b>17,000 - 25,000</h6>
                    <h6><b>วันหยุด : </b><span>วันเสาร์</span>, <span>วันอาทิตย์</span></h6>
                    <h6><b>เวลาทำงาน : </b>09:00 - 18:00</h6>
                    <h6><b>เวลาทำงานอื่น : </b>ไม่ระบุ</h6>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">หน้าที่ความรับผิดชอบ</h6>
                    <h6>- Male/Female/Thai Nationality<br>- Execute full software development life cycle (SDLC)<br>-
                        Provide various application support, reporting service, and development opportunities depending
                        on system<br>- Participle in developing /updating functional specifications for programming
                        changes/fixes<br>- Test the changes (unit testing, integration testing, and/or regression
                        testing)<br>- Develop/update documentation regarding system outages or issues and
                        workaround<br>- Provide proactive communication regarding system outages or issues and
                        workaround<br>- Ensure security and controls standards are being met and followed<br>- Attend
                        team meetings during off hours as needed<br>- Integrate software components into a fully
                        functional software system<br>- Develop software verification plans and quality assurance
                        procedures<br>- Document and maintain software functionality<br>- Troubleshoot, debug and
                        upgrade existing systems<br>- Deploy programs and evaluate user feedback<br>- Ensure software is
                        updated with the latest features<br>- Other duties as assigned<br><br></h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">คุณสมบัติ</h6>
                    <h6><b>เพศ : </b>ไม่ระบุ</h6>
                    <h6><b>อายุ(ปี) : </b>ทุกช่วงอายุ</h6>
                    <h6><b>ระดับการศึกษา : </b>ปริญญาตรี</h6>
                    <h6><b>ประสบการณ์(ปี) : </b>ไม่ระบุ</h6>
                    <h6><b> อื่นๆ : </b><span>ยินดีรับนักศึกษาจบใหม่</span>,<span>ยินดีรับผู้ไม่มีประสบการณ์</span></h6>
                    <h6 class="text-red margin-top margin-bottom-1">คุณสมบัติเพิ่มเติม</h6>
                    <h6>- Bachelor 's Degree in information Technology, Computer Science, Computer Engineering or any
                        related discipline<br>- Strong computer technical background, skill in the following areas: o
                        Web Server (Window, Tomcat)<br>- Programming Language (JAVA- Ensure adherence to project
                        schedule<br>- Database Design<br>- Databases (Oracle, SQL Command using)<br>- Documentation and
                        reporting of project timeline<br>- Experience in Java Programming, C, PHP, HTML, JavaScript,
                        bootstrap, iReport (Jasper), Crystal Reports<br>- Know the step to find the solution when
                        struggle with the problems<br>- A good problem-solving attitude<br>- Able to work under pressure
                        and team spirits<br>- Able to work at night on request<br>- Proficient in Java<br>- Cloud, APIs,
                        SQL, Windows Server, Tomcat<br>- JAVA, DB2 WebSphere, Database Design<br>- SDLC (System
                        Development Life Cycle) process<br>- Strong Open platform Technology<br>- Able to communicate in
                        English.<br></h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">สวัสดิการ</h6>
                    <h6>
                        <li>ตามข้อตกลงของบริษัท</li>
                    </h6>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">สนใจสมัครงานตำแหน่งงานนี้กรุณาติดต่อ</h6>
                    <h6>ชื่อผู้ติดต่อ : ศศิวิมล</h6>
                    <h6>เบอร์ผู้ติดต่อ : 02-261-2430-1</h6>
                    <h6>อีเมล : hr@laconic.co.th</h6>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                    <h6 class="text-red margin-bottom-1">วิธีการรับสมัครงาน</h6>
                    <h6><b>รับสมัครงานผ่านทาง K JOB.RS</b>
                        <li style="margin-left: 20px">hr@laconic.co.th</li>
                        <li style="margin-left: 20px">touch.laconic@gmail.com</li><b>รับสมัครผ่านทางไปรษณีย์
                            และสมัครด้วยตัวเอง</b>
                    </h6>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="border-bottom-grey-1 margin-bottom"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom data-adress">
                    <ul>
                        <li>
                            <h5 class="text-red"><i class="fa fa-address-card" aria-hidden="true"></i>
                                ข้อมูลติดต่อ</h5>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-12 contact-address">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom">
                                    <h6><b>Sasiwimon</b></h6>
                                    <h6>Laconic Technology Co. Ltd.</h6>
                                    <h6>170/44, Ocean Tower 1 (14th floor) Ratchadaphisek Road แขวงคลองเตย เขตคลองเตย
                                        จังหวัดกรุงเทพมหานคร 10110 ประเทศไทย </h6>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 contact-company">
                                    <ul class="ul-contact">
                                        <li class="li-contact contact-width">
                                            <img
                                                src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-2.png">
                                            โทร. : 022612430
                                        </li>
                                        <li class="li-contact">
                                            <img
                                                src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-9.png">
                                            <a href="mailto:hr@laconic.co.th">hr@laconic.co.th</a>
                                        </li>



                                        <li class="li-contact contact-width">
                                            <a href="http://www.laconic.co.th" target="_blank">
                                                <img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/contact-1.png">
                                                http://www.laconic.co.th </a>
                                        </li>



                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>