<!-- <div class="container p-5">
    <section class="container">
        <div class="text-center">
            <button type="button" class="btn btn-outline-warning center" (click)="gohomepage()">เข้าสู่เว็บไซต์</button>
        </div>
    </section>
</div> -->

html1