<div class="container">
    <div class="single-post-thumb hidden-xs"
        style="background:url( //www.jobtopgun.com/article/wp-content/uploads/2019/03/1140x300_มุ่งมั่นที่จะทำงานให้สำเร็จ.jpg) no-repeat center top;background-size: 100%;">
    </div>
    <div class="card bordered-card related-posts" data-cat-id="8" data-all-cat-id="Array
(
 [0] => 8
)
">
        <h3 class="card-title related-post-title">บทความใกล้เคียง</h3>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 related-post-body"> <a class="post-thumbnail-wrapper"
                routerLink="#"
                    style="display:block;"><img
                        src="//www.jobtopgun.com/article/wp-content/uploads/2020/04/ผู้นำที่โดดเด่น_748x405.jpg"> </a>
                <div class="meta-wrapper">
                    <div class="clock-slider"> 25/04/20</div>
                </div>
                <h4><a routerLink="#"><b>ผู้นำที่โดดเด่นต้องเกิดจากการsupport จากทั่วทุกสารทิศ</b></a></h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 related-post-body"> <a class="post-thumbnail-wrapper"
                    href="//www.jobtopgun.com/article/%e0%b9%80%e0%b8%a3%e0%b8%b5%e0%b8%a2%e0%b8%99%e0%b8%a3%e0%b8%b9%e0%b9%89%e0%b8%ad%e0%b8%a2%e0%b9%88%e0%b8%b2%e0%b8%87%e0%b9%80%e0%b8%94%e0%b8%b5%e0%b8%a2%e0%b8%a7%e0%b9%84%e0%b8%a1/"
                    style="display:block;"><img
                        src="//www.jobtopgun.com/article/wp-content/uploads/2020/04/เรียนรู้เรียนทำ_748x405.jpg"> </a>
                <div class="meta-wrapper">
                    <div class="clock-slider"> 20/04/20</div>
                </div>
                <h4 data-title-id="8208"><a
                        href="//www.jobtopgun.com/article/%e0%b9%80%e0%b8%a3%e0%b8%b5%e0%b8%a2%e0%b8%99%e0%b8%a3%e0%b8%b9%e0%b9%89%e0%b8%ad%e0%b8%a2%e0%b9%88%e0%b8%b2%e0%b8%87%e0%b9%80%e0%b8%94%e0%b8%b5%e0%b8%a2%e0%b8%a7%e0%b9%84%e0%b8%a1/"><b>“เรียนรู้”อย่างเดียวไม่พอต้อง
                            “เรียนทำ”ให้ได้</b></a></h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 related-post-body"> <a class="post-thumbnail-wrapper"
                    href="//www.jobtopgun.com/article/%e0%b8%88%e0%b8%b0%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%99%e0%b8%b2%e0%b8%a2%e0%b8%84%e0%b8%99%e0%b9%84%e0%b8%94%e0%b9%89-%e0%b8%95%e0%b9%89%e0%b8%ad%e0%b8%87%e0%b8%84%e0%b8%b4%e0%b8%94%e0%b8%96/"
                    style="display:block;"><img
                        src="//www.jobtopgun.com/article/wp-content/uploads/2020/04/จะเป็นนายคนได้_748x405.jpg"> </a>
                <div class="meta-wrapper">
                    <div class="clock-slider"> 14/04/20</div>
                </div>
                <h4 data-title-id="8212"><a
                        href="//www.jobtopgun.com/article/%e0%b8%88%e0%b8%b0%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%99%e0%b8%b2%e0%b8%a2%e0%b8%84%e0%b8%99%e0%b9%84%e0%b8%94%e0%b9%89-%e0%b8%95%e0%b9%89%e0%b8%ad%e0%b8%87%e0%b8%84%e0%b8%b4%e0%b8%94%e0%b8%96/"><b>จะเป็นนายคนได้
                            ต้องคิดถึงประโยชน์ของคนอื่นให้เป็น</b></a></h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 related-post-body"> <a class="post-thumbnail-wrapper"
                    href="//www.jobtopgun.com/article/%e0%b8%84%e0%b8%99%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b9%82%e0%b8%95%e0%b8%95%e0%b9%88%e0%b8%ad%e0%b9%84%e0%b8%94%e0%b9%89-%e0%b8%82%e0%b8%b6%e0%b9%89%e0%b8%99%e0%b8%ad%e0%b8%a2%e0%b8%b9/"
                    style="display:block;"><img
                        src="//www.jobtopgun.com/article/wp-content/uploads/2020/04/คนเราจะโตต่อได้_748x405.jpg"> </a>
                <div class="meta-wrapper">
                    <div class="clock-slider"> 06/04/20</div>
                </div>
                <h4 data-title-id="8210"><a
                        href="//www.jobtopgun.com/article/%e0%b8%84%e0%b8%99%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b9%82%e0%b8%95%e0%b8%95%e0%b9%88%e0%b8%ad%e0%b9%84%e0%b8%94%e0%b9%89-%e0%b8%82%e0%b8%b6%e0%b9%89%e0%b8%99%e0%b8%ad%e0%b8%a2%e0%b8%b9/"><b>คนเราจะโตต่อได้
                            ขึ้นอยู่กับการเลือกคบคน</b></a></h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 related-post-body"> <a class="post-thumbnail-wrapper"
                    href="//www.jobtopgun.com/article/%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%a1%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b2%e0%b8%8a%e0%b8%b5%e0%b8%9e-%e0%b8%88%e0%b8%b0%e0%b8%97%e0%b8%b3/"
                    style="display:block;"><img
                        src="//www.jobtopgun.com/article/wp-content/uploads/2020/02/748x405_ความเป็นมืออาชีพ.jpg"> </a>
                <div class="meta-wrapper">
                    <div class="clock-slider"> 21/03/20</div>
                </div>
                <h4 data-title-id="7303"><a
                        href="//www.jobtopgun.com/article/%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%a1%e0%b8%b7%e0%b8%ad%e0%b8%ad%e0%b8%b2%e0%b8%8a%e0%b8%b5%e0%b8%9e-%e0%b8%88%e0%b8%b0%e0%b8%97%e0%b8%b3/"><b>“ความเป็นมืออาชีพ”
                            จะทำให้คุณเป็นอมตะ</b></a></h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 related-post-body"> <a class="post-thumbnail-wrapper"
                    href="//www.jobtopgun.com/article/%e0%b8%ad%e0%b8%a2%e0%b8%b2%e0%b8%81%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%99%e0%b8%b2%e0%b8%a2%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b8%94%e0%b8%b5%e0%b9%83%e0%b8%ab%e0%b9%89%e0%b9%84%e0%b8%94%e0%b9%89/"
                    style="display:block;"><img
                        src="//www.jobtopgun.com/article/wp-content/uploads/2020/02/748x405_ฝึกมองภาพใหญ่ให้เป็น.jpg">
                </a>
                <div class="meta-wrapper">
                    <div class="clock-slider"> 15/03/20</div>
                </div>
                <h4 data-title-id="7301"><a
                        href="//www.jobtopgun.com/article/%e0%b8%ad%e0%b8%a2%e0%b8%b2%e0%b8%81%e0%b9%80%e0%b8%9b%e0%b9%87%e0%b8%99%e0%b8%99%e0%b8%b2%e0%b8%a2%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b8%94%e0%b8%b5%e0%b9%83%e0%b8%ab%e0%b9%89%e0%b9%84%e0%b8%94%e0%b9%89/"><b>อยากเป็นนายที่ดีให้ได้ต้องฝึกมองภาพใหญ่ให้เป็น</b></a>
                </h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 related-post-body"> <a class="post-thumbnail-wrapper"
                    href="//www.jobtopgun.com/article/%e0%b8%ad%e0%b8%a2%e0%b8%b2%e0%b8%81%e0%b8%9b%e0%b8%a3%e0%b8%b0%e0%b8%aa%e0%b8%9a%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%aa%e0%b8%b3%e0%b9%80%e0%b8%a3%e0%b9%87%e0%b8%88-%e0%b8%97%e0%b8%9a%e0%b8%97/"
                    style="display:block;"><img
                        src="//www.jobtopgun.com/article/wp-content/uploads/2020/02/748x405_อยากประสบความสำเร็จ.jpg">
                </a>
                <div class="meta-wrapper">
                    <div class="clock-slider"> 08/03/20</div>
                </div>
                <h4 data-title-id="7309"><a
                        href="//www.jobtopgun.com/article/%e0%b8%ad%e0%b8%a2%e0%b8%b2%e0%b8%81%e0%b8%9b%e0%b8%a3%e0%b8%b0%e0%b8%aa%e0%b8%9a%e0%b8%84%e0%b8%a7%e0%b8%b2%e0%b8%a1%e0%b8%aa%e0%b8%b3%e0%b9%80%e0%b8%a3%e0%b9%87%e0%b8%88-%e0%b8%97%e0%b8%9a%e0%b8%97/"><b>อยากประสบความสำเร็จ
                            ทบทวนเสมอว่าวันนี้ต้องไม่มีใครทำได้ดีกว่าเรา</b></a></h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 related-post-body"> <a class="post-thumbnail-wrapper"
                    href="//www.jobtopgun.com/article/%e0%b9%84%e0%b8%a1%e0%b9%88%e0%b8%a1%e0%b8%b5%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b8%97%e0%b8%b3%e0%b9%84%e0%b8%a1%e0%b9%88/"
                    style="display:block;"><img
                        src="//www.jobtopgun.com/article/wp-content/uploads/2020/02/748x405_ไม่มีอะไรที่เราจะทำไม่ได้.jpg">
                </a>
                <div class="meta-wrapper">
                    <div class="clock-slider"> 01/03/20</div>
                </div>
                <h4 data-title-id="7424"><a
                        href="//www.jobtopgun.com/article/%e0%b9%84%e0%b8%a1%e0%b9%88%e0%b8%a1%e0%b8%b5%e0%b8%ad%e0%b8%b0%e0%b9%84%e0%b8%a3%e0%b8%97%e0%b8%b5%e0%b9%88%e0%b9%80%e0%b8%a3%e0%b8%b2%e0%b8%88%e0%b8%b0%e0%b8%97%e0%b8%b3%e0%b9%84%e0%b8%a1%e0%b9%88/"><b>ไม่มีอะไรที่เราจะทำไม่ได้
                            ยกเว้นเราไม่มีใจฝึกมัน</b></a></h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 related-post-body"> <a class="post-thumbnail-wrapper"
                    href="//www.jobtopgun.com/article/%e0%b8%ab%e0%b8%b2%e0%b8%81%e0%b9%84%e0%b8%a1%e0%b9%88%e0%b8%81%e0%b8%a5%e0%b9%89%e0%b8%b2%e0%b8%95%e0%b8%b1%e0%b8%94%e0%b8%aa%e0%b8%b4%e0%b8%99%e0%b9%83%e0%b8%88-%e0%b9%81%e0%b8%aa%e0%b8%94%e0%b8%87/"
                    style="display:block;"><img
                        src="//www.jobtopgun.com/article/wp-content/uploads/2019/12/หากไม่กล้าตัดสินใจ_748x405.jpg">
                </a>
                <div class="meta-wrapper">
                    <div class="clock-slider"> 18/01/20</div>
                </div>
                <h4 data-title-id="6754"><a
                        href="//www.jobtopgun.com/article/%e0%b8%ab%e0%b8%b2%e0%b8%81%e0%b9%84%e0%b8%a1%e0%b9%88%e0%b8%81%e0%b8%a5%e0%b9%89%e0%b8%b2%e0%b8%95%e0%b8%b1%e0%b8%94%e0%b8%aa%e0%b8%b4%e0%b8%99%e0%b9%83%e0%b8%88-%e0%b9%81%e0%b8%aa%e0%b8%94%e0%b8%87/"><b>หากไม่กล้าตัดสินใจ
                            แสดงว่าเปิดโอกาสให้คนอื่นก้าวไปก่อนคุณ 1 ขั้น</b></a></h4>
            </div>
        </div>
    </div>
</div>