<div class="col-md-12 col-sm-12 col-xs-12 hotCareer pb-0 mb-4">
    <h4 class="headContent hotCareerBottom text-start">Hot Career</h4>
    <div class="container pt-3" style="background-color: #ebebeb;">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <ul class="carousel-inner" id="buttonscroll" style="padding-left: 0px;">
                <div class="carousel-inner" style="scroll-behavior: auto;">
                    <div class="carousel-item active" data-bs-interval="90000">
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="hotCareerGrid carousel-inner" id="buttonscroll">
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ขาย&amp;sub_occu_all=7&amp;occupation=7&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_7.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">ขาย</p>
                                                <p class="positionWork">132537 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="home/jobit">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_25.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">ไอที</p>
                                                <p class="positionWork">35304 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=วิศวกรรม&amp;sub_occu_all=21&amp;occupation=21&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_21.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">วิศวกรรม</p>
                                                <p class="positionWork">27517 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=การตลาด-PR&amp;sub_occu_all=3&amp;occupation=3&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_3.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">การตลาด/PR
                                                </p>
                                                <p class="positionWork">42254 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ขนส่ง-คลังสินค้า&amp;sub_occu_all=6&amp;occupation=6&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_6.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ขนส่ง/คลังสินค้า
                                                </p>
                                                <p class="positionWork">25917 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ก่อสร้าง&amp;sub_occu_all=1&amp;occupation=1&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_1.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">ก่อสร้าง</p>
                                                <p class="positionWork">8811 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=โฆษณา-สื่อ&amp;sub_occu_all=8&amp;occupation=8&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_8.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">โฆษณา/สื่อ
                                                </p>
                                                <p class="positionWork">4479 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=จัดซื้อ&amp;sub_occu_all=9&amp;occupation=9&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_9.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">จัดซื้อ</p>
                                                <p class="positionWork">45913 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="hotCareerGrid carousel-inner" id="buttonscroll">
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ท่องเที่ยว-โรงเเรม&amp;sub_occu_all=10&amp;occupation=10&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_10.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ท่องเที่ยว/โรงเเรม</p>
                                                <p class="positionWork">3988 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=โทรคมนาคม&amp;sub_occu_all=11&amp;occupation=11&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_11.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">โทรคมนาคม</p>
                                                <p class="positionWork">170 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ธนาคาร-การเงิน&amp;sub_occu_all=12&amp;occupation=12&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_12.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ธนาคาร/การเงิน
                                                </p>
                                                <p class="positionWork">14266 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ธุรการ-การจัดการทั่วไป&amp;sub_occu_all=13&amp;occupation=13&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_13.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ธุรการ/การจัดการทั่วไป
                                                </p>
                                                <p class="positionWork">15575 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=การแพทย์&amp;sub_occu_all=15&amp;occupation=15&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_15.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">การแพทย์</p>
                                                <p class="positionWork">4986 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=บริหาร-ผู้จัดการ&amp;sub_occu_all=16&amp;occupation=16&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_16.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    บริหาร/ผู้จัดการ
                                                </p>
                                                <p class="positionWork">11013 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=บัญชี&amp;sub_occu_all=17&amp;occupation=17&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_17.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">บัญชี</p>
                                                <p class="positionWork">46875 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ประกันภัย&amp;sub_occu_all=18&amp;occupation=18&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_18.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">ประกันภัย</p>
                                                <p class="positionWork">1662 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="90000">
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="hotCareerGrid carousel-inner" id="buttonscroll">
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ราชการ-บริการสาธารณะ&amp;sub_occu_all=19&amp;occupation=19&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_19.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ราชการ/บริการสาธารณะ</p>
                                                <p class="positionWork">971 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=วิทยาศาสตร์-Lab-วิจัยและพัฒนา&amp;sub_occu_all=20&amp;occupation=20&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_20.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    วิทยาศาสตร์/Lab/วิจัยและพัฒนา</p>
                                                <p class="positionWork">4388 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=การผลิต-QA-QC&amp;sub_occu_all=4&amp;occupation=4&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_4.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">การผลิต/QA-QC
                                                </p>
                                                <p class="positionWork">18632 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=สุขภาพ-โภชนาการ-ความงาม&amp;sub_occu_all=22&amp;occupation=22&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_22.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    สุขภาพ/โภชนาการ/ความงาม
                                                </p>
                                                <p class="positionWork">4758 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=อสังหาริมทรัพย์&amp;sub_occu_all=23&amp;occupation=23&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_23.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    อสังหาริมทรัพย์
                                                </p>
                                                <p class="positionWork">506 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ออกแบบ-เขียนแบบ-กราฟฟิค-ช่างภาพ&amp;sub_occu_all=24&amp;occupation=24&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_24.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ออกแบบ/เขียนแบบ/กราฟฟิค/ช่างภาพ</p>
                                                <p class="positionWork">16139 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=การศึกษา-วิชาการ&amp;sub_occu_all=5&amp;occupation=5&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_5.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    การศึกษา/วิชาการ
                                                </p>
                                                <p class="positionWork">3672 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=อื่นๆ&amp;sub_occu_all=26&amp;occupation=26&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_26.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">อื่นๆ</p>
                                                <p class="positionWork">14286 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="hotCareerGrid carousel-inner" id="buttonscroll">
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=E-commerce&amp;sub_occu_all=27&amp;occupation=27&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_27.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">E-commerce
                                                </p>
                                                <p class="positionWork">1109 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=สถาปนิก-มัณฑนากร&amp;sub_occu_all=28&amp;occupation=28&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_28.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    สถาปนิก/มัณฑนากร
                                                </p>
                                                <p class="positionWork">1824 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=กฎหมาย&amp;sub_occu_all=29&amp;occupation=29&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_29.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">กฎหมาย</p>
                                                <p class="positionWork">4195 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=บันเทิง-นักแสดง-นักร้อง&amp;sub_occu_all=30&amp;occupation=30&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_30.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    บันเทิง/นักแสดง/นักร้อง
                                                </p>
                                                <p class="positionWork">352 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=เจ้าหน้าที่ความปลอดภัย(จป.)-สิ่งแวดล้อม&amp;sub_occu_all=31&amp;occupation=31&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_31.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    เจ้าหน้าที่ความปลอดภัย(จป.)/สิ่งแวดล้อม</p>
                                                <p class="positionWork">4056 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ช่าง-ช่างเทคนิค-อิเลคโทรนิค&amp;sub_occu_all=32&amp;occupation=32&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_32.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ช่าง/ช่างเทคนิค/อิเลคโทรนิค</p>
                                                <p class="positionWork">32256 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=นักเขียน-บรรณาธิการ-นักแปลภาษา&amp;sub_occu_all=33&amp;occupation=33&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_33.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    นักเขียน/บรรณาธิการ/นักแปลภาษา</p>
                                                <p class="positionWork">3083 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=บุคคล-ฝึกอบรม&amp;sub_occu_all=34&amp;occupation=34&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_34.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">บุคคล/ฝึกอบรม
                                                </p>
                                                <p class="positionWork">24948 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="90000">
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="hotCareerGrid carousel-inner" id="buttonscroll">
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=แม่บ้าน-พี่เลี้ยง-คนสวน-รปภ.&amp;sub_occu_all=35&amp;occupation=35&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_35.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    แม่บ้าน/พี่เลี้ยง/คนสวน/รปภ.</p>
                                                <p class="positionWork">8597 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=บริการลูกค้า-ลูกค้าสัมพันธ์-Call-Center&amp;sub_occu_all=36&amp;occupation=36&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_36.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    บริการลูกค้า/ลูกค้าสัมพันธ์/Call
                                                    Center</p>
                                                <p class="positionWork">15529 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=มัคคุเทศก์-จองห้อง-จองตั๋ว&amp;sub_occu_all=37&amp;occupation=37&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_37.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    มัคคุเทศก์/จองห้อง/จองตั๋ว</p>
                                                <p class="positionWork">345 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=เลขานุการ&amp;sub_occu_all=38&amp;occupation=38&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_38.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">เลขานุการ</p>
                                                <p class="positionWork">7536 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=นักวิเคราะห์-เศรษฐศาสตร์&amp;sub_occu_all=39&amp;occupation=39&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_39.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    นักวิเคราะห์/เศรษฐศาสตร์
                                                </p>
                                                <p class="positionWork">1204 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=คนขับรถ&amp;sub_occu_all=40&amp;occupation=40&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_40.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">คนขับรถ</p>
                                                <p class="positionWork">17504 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=เสื้อผ้า-สิ่งทอ-ช่างแพทเทิร์น&amp;sub_occu_all=41&amp;occupation=41&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_41.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    เสื้อผ้า/สิ่งทอ/ช่างแพทเทิร์น</p>
                                                <p class="positionWork">384 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=อัญมณีและเครื่องประดับ&amp;sub_occu_all=43&amp;occupation=43&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_43.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    อัญมณีและเครื่องประดับ
                                                </p>
                                                <p class="positionWork">2136 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <ul class="hotCareerGrid carousel-inner" id="buttonscroll">
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=อาหาร-เครื่องดื่ม-กุ๊ก-บาร์เทนเดอร์-พนักงานเสิร์ฟ&amp;sub_occu_all=44&amp;occupation=44&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_44.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    อาหาร/เครื่องดื่ม/กุ๊ก/บาร์เทนเดอร์/พนักงานเสิร์ฟ</p>
                                                <p class="positionWork">25903 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=Part-time-พนักงานสัญญาจ้าง&amp;sub_occu_all=45&amp;occupation=45&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_45.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    Part-time/พนักงานสัญญาจ้าง</p>
                                                <p class="positionWork">10241 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=มนุษยศาสตร์-ล่าม&amp;sub_occu_all=47&amp;occupation=47&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_47.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    มนุษยศาสตร์/ล่าม
                                                </p>
                                                <p class="positionWork">1817 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ธรณีวิทยาและป่าไม้&amp;sub_occu_all=48&amp;occupation=48&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_48.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ธรณีวิทยาและป่าไม้</p>
                                                <p class="positionWork">285 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ภูมิศาสตร์-แผนที่-GIS-ผังเมือง&amp;sub_occu_all=49&amp;occupation=49&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_49.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ภูมิศาสตร์/แผนที่/GIS/ผังเมือง</p>
                                                <p class="positionWork">203 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ธุรกิจการบิน&amp;sub_occu_all=52&amp;occupation=52&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_52.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">ธุรกิจการบิน
                                                </p>
                                                <p class="positionWork">111 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=พัฒนาธุรกิจและพัฒนาองค์กร&amp;sub_occu_all=53&amp;occupation=53&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_53.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    พัฒนาธุรกิจและพัฒนาองค์กร
                                                </p>
                                                <p class="positionWork">2454 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.jobbkk.com/jobs/lists/1/หางาน,ทั้งหมด,ทุกจังหวัด,ทั้งหมด.html?occupationText=ห้างสรรพสินค้า&amp;sub_occu_all=54&amp;occupation=54&amp;keyword_type=3"
                                            target="_blank">
                                            <div><img
                                                    src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/home_default/occupation/icon_occ_54.png">
                                                <p class="hotCareerCut" style="overflow-wrap: break-word;">
                                                    ห้างสรรพสินค้า
                                                </p>
                                                <p class="positionWork">6312 ตำแหน่งงาน</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            <div class="col-md-12 pb-3 pt-0 text-center">
                <button type="button" class="btn btn-danger btn-sm" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-sm" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>