<div class="container p-0">
    <div class="row justify-content-between pb-2">
        <div class="col-md-3 text-start">
            <h4 style="font-family: inherit;">BEST COMPANY</h4>
        </div>
        <div class="readMore col-md-2 text-end">
            <a href="https://www.jobbkk.com/banner/bestcompany" target="_blank">อ่านทั้งหมด</a>
        </div>
    </div>
    <ul class="bgHotCareer jobsGrid m-0 p-0">
        <div class="row" style="grid-gap: 10px;">
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/439255dcdcaa0e98677b07a9b130bf29.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/0d20c69fb5368b30affa4224ad593fd8.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/b3b9c84f51b324eb6d90eea5156a0343.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/3e52f8b52a828b5a919195ca28b24381.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/53fb771ed153281d0160204421b16c7e.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/8d11d900a77901bbecb91c8eabf9df52.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/73cd34b6a2b14bed461585fa738ac182.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/c986367b9cf0a699a4cd03d2583523b9.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>

            <!-- แถว2 -->
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/14414ab04a3ffb6ce31fe0190fc9c0de.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/381029f51507a3a0c13bca7f17fa32ae.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/7d08d348b32ebeef26e25e93de5369b0.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/84a54de378d18bc878df13a37f3f44c9.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/9f6f0a4459f28319855e686937d48b3f.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/a926899c52382360671e579e9d4af5f6.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/9f897b16ba3628c0bc4ebbd7675c73de.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/0457ee938d2e7ace7e5c2ceff9bc2e45.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>

            <!-- แถว3 -->
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/dce990e7c9c816b5c32ba08c6e2b03e5.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/49630bfe70b1213f24c7fa53c46f59f5.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/e5a0d65c7d1cc61a0a55eb30e20d46f5.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/d65f3300dca9b4a078427898ad6f7c31.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/6c4d3672f8616c764188fe0dcca290eb.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/1f9896c281eda670e92bc59a1b774dca.gif"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/8eac6f27f58fd9e638f9f0cc32cc408d.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/13043bee381b412d3ff28caa2065bf72.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/2fe75815769e970835831e30e25719bf.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/b93cb2c5ebb9684aaadbc262cb40478f.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/ff72a3353c1b6087b9f0ba348870733f.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/64d38e6fe40e7b815dfde2834ad932fc.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/909dc7b9af00a00e5e45c381cdb0eb64.png"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/de5756080f7ba6d9c2cc2013e0ad9bc6.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/8cd06f760281af0e1f1d3f800764e1c8.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
            <li class="jobsStyle">
                <a href="" class="jobsStyle">
                    <img src="https://c2b.jobbkk.com/www/images/8ddb9c22ec89409b064c4d0a6b8cf99b.jpg"
                        class="jobsStyle border border-1 p-3">
                </a>
            </li>
        </div>
    </ul>
</div>