<div class="container p-3 " style="min-height: 591px;">
    <h5 class="text-center bgHotCareer" style="color: rgb(0, 0, 0); ">Job Post Recommedator From Job Seeker's Currieulum
        Vitae</h5>
    <div class="box-card bgHot mb-4 ">
        <form action="">
            <div class="form-group row content">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label>คำนำหน้า<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option>--เลือกคำนำหน้า--</option>
                            <option *ngFor="let prf of userTitle" [ngValue]="prf">{{ prf }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>ชื่อ<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline" placeholder="กรอกชื่อ" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>นามสกุล<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline" placeholder="กรอกนามสกุล" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>เบอร์โทร<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="tel" class="form-control input-inline" id="inputPhone" name="phone"
                            placeholder="กรอกเบอร์โทร" minlength="10" maxlength="10" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>E-mail<span class="text-danger">*</span></label>
                    <div class="form-group">
                        <input type="email" class="form-control input-inline" id="inputEmail" name="email"
                            placeholder="กรอกอีเมล" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div><br>
            <div class="form-group row content">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label>ประสบการณ์ทำงาน</label>
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option disabled>--กรุณาเลือก--</option>
                            <option *ngFor="let works of work" [ngValue]="works">{{ works }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>ประเภทองค์กร</label>
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option disabled>--กรุณาเลือก--</option>
                            <option *ngFor="let org of organization" [ngValue]="org">{{ org }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>ชื่อองค์กร</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline" placeholder="กรอกชื่อองค์กร" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>ชื่อตำแหน่งงาน</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline" placeholder="กรอกชื่อตำแหน่งงาน"
                            required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>เงินเดือนเดิม</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-inline" placeholder="กรอกเงินเดือนเดิม" required />
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <br>
            <div class="border-bottom"></div><br>
            <div class="form-group row content">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label>Upload Your CV File </label>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1"
                            (change)="onUplodeFile($event)">
                    </div>
                </div>
            </div><br>
            <div class="form-group row content">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div *ngIf="this.LoadingInShow" class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="form-group">
                        <h6 style="color: green;" for="exampleFormControlTextarea1">: Input CV Content here :</h6>
                        <textarea class="form-control" id="exampleFormControlTextarea1"
                            rows="5">{{dataFormocr}}</textarea>
                    </div>
                </div>
            </div><br>
            <div class="form-group row content">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">
                    <button type="reset" class="btn btn-danger">CLEAR</button>&nbsp;
                    <!-- <button type="button" class="btn btn-success">SAVE</button>&nbsp; -->
                    <button type="button" class="btn btn-success" (click)="recomment()">RECOMMENDATION</button>
                </div>
            </div>
        </form>
        <br>
        <div class="form-group row content">
            <div class="col-lg-1"></div>
            <div class="col-lg-4">
                <h6 style="color: green;">: Job Recommendation Top_5 :</h6>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="form-group row content">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 bgHots">
                <p>JOB TOP_5 </p>
                <p>JOB TOP_5 </p>
                <p>JOB TOP_5 </p>
            </div>
        </div><br>
    </div>
</div>